{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block main %}
	<ul>
		<li>
			<div class="avatar-group">
				<img class='avatar' src="{{ url_for('static', filename='img/musicBoy.jpg') }}" alt=''>
			</div>
			<div class='question-group'>
				<p class="question-title"><a href='#'>爱和理想何处寻觅？</a></p>
				<p class="question-content">这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容</p>
				<div class="question-info">
					<span class="question-author">Joker</span>
					<span class='question-time'>2017-11-11 12:00:00</span>
				</div>
			</div>
		</li>
		<li>
			<div class="avatar-group">
				<img class='avatar' src="{{ url_for('static', filename='img/musicBoy.jpg') }}" alt=''>
			</div>
			<div class='question-group'>
				<p class="question-title"><a href='#'>爱和理想何处寻觅？</a></p>
				<p class="question-content">这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容</p>
				<div class="question-info">
					<span class="question-author">Joker</span>
					<span class='question-time'>2017-11-11 12:00:00</span>
				</div>
			</div>
		</li>
		<li>
			<div class="avatar-group">
				<img class='avatar' src="{{ url_for('static', filename='img/musicBoy.jpg') }}" alt=''>
			</div>
			<div class='question-group'>
				<p class="question-title"><a href='#'>爱和理想何处寻觅？</a></p>
				<p class="question-content">这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容</p>
				<div class="question-info">
					<span class="question-author">Joker</span>
					<span class='question-time'>2017-11-11 12:00:00</span>
				</div>
			</div>
		</li>
	</ul>
{% endblock %}